.form-search-by-id {
   background-color: #fafafa;
   border: 1px solid rgba(131, 126, 126, 0.356);
   padding: 10px;
   margin-bottom: 50px;
}

.form-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.form-title {
   width: 710px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   line-height: 45px;
   border-bottom: 1px solid rgba(131, 126, 126, 0.356);
}

.input-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.form-id-input {
   width: 250px;
}

.btn-container {
   display: flex;
   gap: 10px;
}

.button {
   height: 38px;
   margin-top: 15px;
}
